[workspace]
members = ["backend", "cli", "core"]
resolver = "3"

[workspace.dependencies]
async-trait = "0.1.89"
chrono = { version = "0.4.42", features = ["serde"] }
nutype = { version = "0.6.2", features = ["serde"] }
serde = { version = "1.0", features = ["derive"] }
thiserror = "2.0.17"
uuid = { version = "1.19.0", features = ["v4", "serde"] }
