RUST_LOG=debug

# Git repository storage location
# Production: /srv/git
# Development: Use a local directory like ~/Desktop/repos, /tmp/ maybe auto-collected beware
GIT_PROJECT_ROOT=/srv/git

# GCP Project ID for secret manager
GCP_PROJECT_ID=PROJECT_ID

# Posgres direct connection URI
DATABASE_URL=postgres://[USERNAME_HERE]:[PASSWORD_HERE]@host:5432/[DATABASE_HERE]

# OAuth device flow verfication URI
OAUTH_DEVICE_VERIFICATION_URI=https://your-url.com/path

# Vercel OIDC issuer URL for deployment token verification
VERCEL_OIDC_URL=https://oidc.vercel.com/your-team-slug
