RUST_LOG=debug

# Postgres direct connection URI
DATABASE_URL=postgres://[USERNAME_HERE]:[PASSWORD_HERE]@host:5432/[DATABASE_HERE]

# HMAC shared secret with the gitdot slack bot server
GITDOT_SLACK_SECRET=

# Gitdot URLs
GITDOT_SLACK_BOT_SERVER_URL=http://localhost:3001

# Kafka setup
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_CONSUMER_GROUP_ID=gitdot-consumer
# One of: local, gcp_oauthbearer
KAFKA_AUTH=local
